.cardsWrap{
    background-color: white;
    border-radius: 20px;
}

.cardButton{
  width: 140px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f3253;
  color: white;
  position: relative;
}

.cardButton:hover{
    background-color: #1f3253;
    color: #fff;
}

.cardLine::after{
    content: '';
    width: 1px;
    height: 48%;
    background-color: #1f3253;
    position: absolute;
    left: 12px;
  }

  .cardLine{
    position: relative;
  }