.cardsWrap{
    background-color: white;
    border-radius: 20px;
  
}

.cardButton{
  width: 140px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #1e1f25;
  color: #1e1f25;
  position: relative;
}

.cardtext {
  font-weight: 700;
  color: #1e1f25;
}

.cardTextP {
  color: #1e1f25;
}
.cardButton:hover{
    background-color: #1e1f25;
    color: white;
}

.cardLine::after{
    content: '';
    width: 1px;
    height: 48%;
    background-color: #1e1f25;
    position: absolute;
    left: 12px;
  }

  .cardLine{
    position: relative;
  }

  .cardsPage{
    padding-bottom: 50px;
    background-color: #1e1f25;
  }

  .courses{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center; 
    color: white;
    margin-bottom: 25px;
    padding-top: 30px;
  
  }

  .cardImage{
    width: 155px;
    height: 110px;
  }

  @media (max-width: 990px) {
  
    .cardLine::after {
      display: none;
    }

    .cardButton{
      display: none;
    }
   }

   @media (max-width: 767px){
    .cardCourse p {
      display: none;
    }
   }

   @media (max-width: 430px){

    .cardImage{
      width: 130px;
      height: 100px;
    }
   }

   @media (max-width: 400px){

    .cardImage{
      width: 90px;
      height: 70px;
    }
   }