
.headerText{
  font-weight: 700;
  font-size: 42px;
}

.headerP{
  font-size: 20px;
}

.headeraa{
    /* width: 100%;
    height: 100%; */
    background-image: url("../images/headerComp.jpg");
    background-size: cover;
  
  }
  
.connect {
  width: 175px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color:  #141416;

}
.courseConnect {
  width: 170px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid  white;
  color:  white;
  transition: all 0.2s linear;
}

.connect:hover {
  color:  #141416;
}
.courseConnect:hover {
  color: #fff;

}
  .headerColor{
    background-color: #1e1f255b;
  }
  
  .headWrap{
  display: flex;
  align-items: center;
  height: 88vh;
  }

  .headerHr{
    width: 58vh;
  }

  .headClick{
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }

  .headButtonGroup{
    display: flex;
  }

@media (max-width: 976px) {
   .headWrap{
    display: flex;
    justify-content: center;

}
  }

  @media (max-width: 767px) {
  .headButtonGroup{
  display: flex;
  justify-content: center;
  
  }
  .headClick{
    margin-right: 0;
  }

  .headerText{
  text-align: center;
  font-size: 38px;
 
 }
 .headerP{
  text-align: center;
    font-size: 16px;
 }

.headerHr{
 display: none;
}
.courseConnect{
  margin-left: 10px;
  width: 166px;
}
.connect{
  width: 171px;
}
}

 @media (max-width: 376px) {
  .headButtonGroup{
    display: block;
  }

  .courseConnect{
    margin-top: 15px;
    height: 48px;
    margin-left: 0;
  }
  .connect{
    width: 150px;
    height: 48px;
  }
}
   