

.navButton{
    display: flex;
    border: 2px solid white;
    border-radius: 2px;
    position: relative;
    margin-top: 7px;
    margin-bottom: 5px;
}

.navLine::after{
    content: '';
    width: 1px;
    height: 35%;
    background-color: white;
    position: absolute;
    left: 62px;
    top: 17px;
  }

  .navbar{
    background-color: #141416;
  }
  .navlinks{
    color: white !important;
    font-size: 22px  !important;
  }



@media (max-width: 991px){
  .navButton{
    width: 39vh;
    margin-left: 15px;
  }

  .navSign{
    margin-right: 20px;
    margin-left: 5px;
  }

  .navLine::after{
    left: 60px;
  }
}