.signIn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.signInWork{
    border-radius: 5px;
    border: 2px solid #ced9ee2d;
    background-color: #1e1f255b;
    width: 60vh;
    box-shadow: 0 0 15px #1e1f255b;
}

.signInButton{
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #ced9ee2d;
        border-radius: 5px;
        color: white;
        background-color: #1e1f255b;
        box-shadow: 0 0 15px #1e1f255b;
}

.signInButton:hover{
    color: white;
}


.signInWrapper{
    background-image: url("../images/headerCompNew.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  
  .signInBackColor{
    background-color: #1e1f255b;
    width: 100%;
    height: 100vh;
  }
  

  @media (max-width: 1326px){
    .signInWork{
        width: 75vh;
    }
  }